/* -------------------------------  RESET  ------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio,
video { margin: 0; padding: 0; border: 0; vertical-align: baseline;}

html {line-height: 1.15; -webkit-text-size-adjust: 100%;}
body {margin: 0;}
main {display: block;}
h1 {font-size: 2em; margin: 0.67em 0;}
hr {box-sizing: content-box; height: 0; overflow: visible;}
pre {font-family: monospace, monospace; font-size: 1em;}
a {background-color: transparent;}
b, strong {font-weight: bolder;}
code, kbd, samp {font-family: monospace, monospace; font-size: 1em;}
small {font-size: 80%;}
sub, sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
sub {bottom: -0.25em;}
sup {top: -0.5em;}
img {border-style: none;}
button, input, optgroup, select, textarea {font-family: inherit; font-size: 100%; line-height: 1.15; margin: 0;}
button, input {overflow: visible;}
button, select {text-transform: none;}
button, [type="button"], [type="reset"], [type="submit"] {-webkit-appearance: button;}
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {border-style: none; padding: 0;}
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {outline: 1px dotted ButtonText;}
fieldset {padding: 0.35em 0.75em 0.625em;}
legend {box-sizing: border-box; color: inherit; display: table; max-width: 100%; padding: 0; white-space: normal;}
progress {vertical-align: baseline;}
textarea {overflow: auto;}

[type="checkbox"], [type="radio"] {box-sizing: border-box; padding: 0;}
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {height: auto;}
[type="search"] {-webkit-appearance: textfield; outline-offset: -2px;}
[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
::-webkit-file-upload-button {-webkit-appearance: button; font: inherit;}

*{-webkit-box-sizing: border-box; box-sizing: border-box;}

details {display: block;}
summary {display: list-item;}
template {display: none;}
[hidden] {display: none;}

input {outline:none;}
* {-webkit-tap-highlight-color: rgba(0,0,0,0);}
input[type=text], input[type=submit], textarea {-webkit-appearance: none;}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out; -webkit-transition-delay: 9999s;
}
select {outline: 0;}
:focus {outline: none;}

/* -------------------------------  BASE STYLES  ------------------------------- */

body {font-family: 'Euclid Circular A', sans-serif; font-weight: 400; background: #fff; font-size: 14px; line-height: 1.2; color: #160F0F;}
img {width: 100%;}

.wrap {max-width: 1300px; padding: 0 60px; margin: 0 auto;}
.title {font-size: 32px; font-weight: 500;}

@media only screen and (max-width: 800px) {
    .wrap {padding: 0 20px;}
    .title {font-size: 22px;}
}

/* ------------------------------- HOME ------------------------------- */
.fx-box{display: flex;}
.blue{color: #0962E8;}
.btn{background: #0962E8; border-radius: 10px; padding: 8px 14px; display: block}
h1,h2,h3,h4,h5 {margin: 0;font-weight: 400;}
a{text-decoration: none;}
.header-text{font-size: 44px;line-height: 57px;letter-spacing: 0.02em;color: #47646D;}
.hide-desktop{display: none;}
.hide-mobile{display: block;}

/* header start */
.header .header__row{justify-content: space-between; padding: 31px 110px 0; align-items: center; background: #ffffff}
.header .header__row .header__logo{max-width: 203px}
.header .header__row .header__button{
    margin-right: 17px;}
.header .header__row .header__button .btn{border: none; color: #FFFFFF; line-height: 20px;padding: 10px 19px; letter-spacing: 0.11px; cursor: pointer; transition: 0.3s all ease}
.header .header__row .header__button .btn:hover{ background: #0a00ff}
/* header end */


/* section main start */
.main{ padding-top: 76px; padding-bottom: 40px;}
.main .main__row{padding: 0 110px; justify-content: space-between;}
.main .main__left .main__title{font-weight: 300;max-width: 448px;}
.main .main__left .main__subtitle{font-size: 44px; line-height: 57px; letter-spacing: 0.02em;font-weight: 300;margin-top: 9px;}
.main .main__left .main__subtitle .gray{font-size: 32px;line-height: 36px; color: #47646D}
.main .main__left .main__subtitle .gray sup{color: #AEB3BB}
.main .main__left .main__text {color: #062B61; letter-spacing: 0.01em; font-size: 16px;  line-height: 24px;max-width: 413px; margin-top: 15px}
.main .main__left .main__buttons{margin-top: 24px;max-width: 260px; flex-wrap: wrap;justify-content: space-between;}
.main .main__left .main__buttons .btn{background: #ffffff;border: 1px solid #07152A;max-width: 123px;border-radius: 12px;height: 38px; padding: 0; display: flex; justify-content: center; align-items: center;width: 100%;}
.main .main__left .main__buttons .btn img{width: auto;}
.main .main__left .main__buttons .btn:first-child{max-width: 100%;background: #0962E8;border-radius: 10px;border: none;width: 100%;color: #ffffff;text-align: center;letter-spacing: 0.03em;padding: 19px 0;margin-bottom: 18px;height: auto;display: block;}
.main .main__left .main__buttons .btn .img__google{margin-right: 7px;max-width: 23px;}
.main .main__right{margin-top: 36px}
.main .main__right .main__man{position: relative;width: 386px;margin-right: 0;margin-left: auto;}
.main .main__right .main__man:before{background: linear-gradient(180deg, rgba(255, 255, 255, 0) 56.42%, #FFFFFF 66.22%), #E2F3FF; position: absolute; top: 26px;left: 0;width: 100%;height: 100%;content: '';z-index: -1; filter: blur(25px);border-radius: 50%;}
.main .main__right .main__man .main__man__img{max-width: 312px; width: auto; display:block;margin-left: 31px }
.main .main__cards{margin-right: -96px}
.main .main__cards .main__card{width: 170px; padding: 0 16px 25px 19px; margin-right: 35px; border-radius: 20px; }
.main .main__cards .main__card img{width: auto; display: block; margin-top: -45px;}
.main .main__cards .main__card .main__card__header{position: relative; z-index: 99; min-height: 117px}
.main .main__cards .main__card .main__card__title{margin-top: 21px;}
.main .main__cards .main__card .main__card__title h4{font-size: 24px;line-height: 31px; letter-spacing: 0.02em;font-weight: 700; color: #ffffff;margin: 0;}
.main .main__cards .main__card .main__card__text{margin-top: 6px;}
.main .main__cards .main__card .main__card__text p{font-size: 14px;line-height: 21px; color: #ffffff;}
.main .main__cards .main__card:nth-child(1){background: linear-gradient(180deg, #FFE1C5 0%, #FF7A00 65.62%);opacity: 0.8; position: relative;top: -55px;}
.main .main__cards .main__card:nth-child(2){opacity: 0.9;background: linear-gradient(180deg, #99E0FE 26.56%, #488ECC 78.65%);}
.main .main__cards .main__card:nth-child(3){margin-right: 0;background: linear-gradient(180deg, rgba(151, 186, 219, 0.9) 0%, rgba(6, 43, 97, 0.9) 100%);position: relative;top: -133px;}
/* section main end */

/* section risks start */
.risks{padding-top: 56px;}
.risks .risks__row{padding: 0 110px; justify-content: space-between;align-items: center;}
.risks .risks__img{max-width: 365px;}
.risks .risks__content{max-width: 453px; padding: 14px 0 13px }
.risks .risks__subtitle{color: #66778F;font-size: 16px;line-height: 24px;letter-spacing: 0.01em; margin-top: 23px}

/* section risks end */



/* media 1400px start */
@media only screen and (max-width: 1400px) {
    .header .header__row{padding: 31px 70px 0;}
    .main .main__row,.risks .risks__row{padding: 0 70px;}
}
/* media 1400px end */

/* media 1200px start */
@media only screen and (max-width: 1200px) {
    .header .header__row{padding: 31px 0 0;}
    .main .main__row, .risks .risks__row{padding: 0;}
    .main .main__left .main__title{font-size: 41px;line-height: 52px;max-width: 418px;}
    .main .main__cards{margin-right: -40px;}
    .main .main__cards .main__card{margin-right: 15px;width: 154px; padding: 0 10px 25px 10px;}
}
/* media 1200px end */

/* media 992px start */
@media only screen and (max-width: 992px) {
    .main .main__row,.risks .risks__row{flex-direction: column; align-items: center;}
}
/* media 992px end */

/* media 767px start */
@media only screen and (max-width: 767px) {
    .hide-mobile{display: none}
    .hide-desktop{display: block}
    .wrap{padding: 0 16px;}
    .header .header__row{padding: 37px 0 0;height: 77px;overflow: hidden;}
    .header .header__logo img{width: 153px}
    .header .header__links{display: flex;}
    .header .header__links a{margin-right: 9px}
    .header .header__links a:last-child{margin-right: 0}


    .main{padding-top: 0;padding-bottom: 18px;}
    .main .main__right{order: 1;margin-top: 0}
    .main .main__left{order: 2}
    .main .main__cards{margin-right: 0; flex-wrap: wrap; justify-content: space-between; margin-top: -200px;}
    .main .main__right .main__man:before{display: none}
    .main .main__right .main__man{width: 318px; margin: 0 auto;}
    .main .main__right .main__man .main__man__img{margin-left: 0}
    .main .main__cards{max-width: 312px;}
    .main .main__cards .main__card{margin-right: 0;padding: 0 8px 20px 10px;}
    .main .main__cards .main__card:nth-child(1){width: 145px; order: 2; top: -40px; left: -8px;}
    .main .main__cards .main__card:nth-child(2){position: relative;width: 287px; order: 1; z-index: -1; left: -8px;top: -70px;}
    .main .main__cards .main__card:nth-child(3){width: 145px; order: 2; top: 0; right: -15px;}
    .main .main__cards .main__card:nth-child(2) .main__card__text p{max-width: 150px;}
    .main .main__cards .main__card .main__card__header{min-height: 54px;}
    .main .main__cards .main__card img{width: 40px; margin-top: -15px;}
    .main .main__cards .main__card .main__card__title{ margin-top: 10px;}
    .main .main__cards .main__card .main__card__title h4{font-size: 16px;line-height: 21px;}
    .main .main__cards .main__card .main__card__text{margin-top: 8px;}
    .main .main__cards .main__card .main__card__text p{font-size: 13px;line-height: 19px;}
    .main .main__left .main__title__mobile{font-size: 32px;line-height: 36px;letter-spacing: 0.02em;color: #002A66;margin-top: 8px}
    .main .main__left .main__text{font-size: 14px;line-height: 21px;letter-spacing: 0.01em;color: #4F4F4F;margin-top: 4px}
    .main .main__left .main__buttons{margin-top: 20px; width: 100%;max-width: unset;}
    .main .main__left .main__buttons .btn{width: calc(50% - 5px); height: 67px;max-width: unset;}
    .main .main__left .main__buttons .btn:first-child{order: 2;margin-top: 12px; margin-bottom: 0;font-size: 16px;line-height: 22px;font-weight: 500;padding: 22px 0;}

    .risks{padding-top: 45px;}
    .risks .risks__content .risks__title{font-size: 36px;line-height: 47px;}
    .risks .risks__content .risks__subtitle{font-size: 14px;line-height: 21px;}
}
/* media 767px end */