<!-- header start -->
<header class="header">
    <div class="wrap">
        <div class="header__row fx-box">
            <div class="header__logo">
                <img src="images/header__logo.png" alt="logo">
            </div>
            <div class="header__button hide-mobile">
                <a class="btn">
                    Установить
                </a>
            </div>
            <div class="header__links hide-desktop">
                <a href="" class="link">
                    <img src="images/google__mobile.png" alt="">
                </a>
                <a href="" class="link">
                    <img src="images/apple.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</header>
<!-- header end

<!-- section main start -->
<section class="main">
    <div class="wrap">
        <div class="main__row fx-box">
            <div class="main__left">
                <h1 class="main__title header-text hide-mobile">
                    <span class="blue">Инвестируйте легко</span> и получайте доход
                </h1>
                <h2 class="main__subtitle hide-mobile">
                    <span class="blue">+51,9%</span> <span class="gray">годовых <sup>*</sup></span>
                </h2>
                <h1 class="main__title__mobile hide-desktop">
                    Зарабатывайте <br>на инвестировании <span class="blue">легче и больше</span>
                </h1>
                <h5 class="main__text">
                    Выбирайте стратегии успешных трейдеров <br>и копируйте сделки в авторежиме. Зарабатывайте легко и с минимальными рисками через мобильное приложение Сopybro.
                </h5>
                <div class="main__buttons fx-box">
                    <a href="" class="btn">
                        Установить приложение
                    </a>
                    <a href="" class="btn">
                        <img src="images/google.png" alt="" class="img__google">
                        <img src="images/google__text.svg" alt="">
                    </a>
                    <a href="" class="btn">
                        <img src="images/appstore.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="main__right">
                <div class="main__man">
                    <img src="images/man.png" alt="logo" class="main__man__img">
                </div>
                <div class="main__cards fx-box">
                    <div class="main__card">
                        <div class="main__card__header">
                            <img src="images/card1.png" alt="" class="card__img" srcset="images/card1@x2.png 2x">
                        </div>
                        <div class="main__card__title">
                            <h4>
                                60 мин
                            </h4>
                        </div>
                        <div class="main__card__text">
                            <p>
                                Сэкономленного времени в день
                            </p>
                        </div>
                    </div>
                    <div class="main__card">
                        <div class="main__card__header">
                            <img src="images/card2.png" alt="" class="card__img" srcset="images/card2@x2.png 2x">
                        </div>
                        <div class="main__card__title">
                            <h4>
                                от 0,0₽
                            </h4>
                        </div>
                        <div class="main__card__text">
                            <p>
                                Платите комиссию только с прибыли
                            </p>
                        </div>
                    </div>
                    <div class="main__card">
                        <div class="main__card__header">
                            <img src="images/card3.png" alt="" class="card__img" srcset="images/card3@x2.png 2x">
                        </div>
                        <div class="main__card__title">
                            <h4>
                                от 0,0₽
                            </h4>
                        </div>
                        <div class="main__card__text">
                            <p>
                                Средняя годовая доходность
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section main end -->


<!-- section risks start -->
<section class="risks">
    <div class="wrap">
        <div class="risks__row fx-box">
            <div class="risks__img">
                <img src="images/card.png" alt="" class="card__img" srcset="images/card@x2.png 2x">
            </div>
            <div class="risks__content">
                <h1 class="risks__title header-text">
                    Автоследование: <span class="blue">минимальные риски,</span> оптимальная доходность
                </h1>
                <h2 class="risks__subtitle">
                    Мы собрали для вас лучшие торговые стратегии <br>с подтвержденными данными по прошлым сделкам <br class="hide-mobile">и их доходности.
                    <br>Трейдер ежедневно следит за динамикой рынка, совершая сделки и балансируя риски и доходность стратегии.
                </h2>
            </div>
        </div>
    </div>
</section>
<!-- section risks end -->